﻿<!DOCTYPE html>


<html>
<head>
    <title>Sprout</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
</head>
<body>
    <h1>Mystwood Publishers Ltd.</h1>
    <div class="hero">
        <h2>Sprout.</h2>
        <p>A book by J. Daniel Bedford</p>
        <a href="#">Read now.</a>
    </div>
    <p id="footer">&copy; Mystwood Publishers Limited</p>
    <p>&copy; Mystwood Publishers Limited</p>
</body>
</html>