﻿@model EX6.Models.Pega

@{
    ViewBag.Title = "FormResult";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>FormResult</title>
</head>

<body>
  @(Model.BU_ID)
  <br>
  @(Model.WORK_NAME)
  <br>
  @(Model.Gender)
  <br>
</body>
