<!DOCTYPE html>

<html>
<head>
    <title>第一頁</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/test.css">
    <script src="~/Scripts/vue.js"></script>    
</head>
<body>
  <div id="myApp">
    <div v-for="(value, key) in MyBook">
      {{key}} : {{value}}
    </div>
  </div>
   
<script>
var myApp = new Vue({
  el:'#myApp',
  data:{
    MyBook:{
      title:"HomeWork",
      price:20,
      public:"2019/7/1",
      age: 50,
      xx:"yyy",
    },  
  },  

});
</script>


</body>    

</html>